<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breath IT | softwares and IT solutions</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="Content">
        <div class="navigation">
            <nav class="navbar navbar-light navbar-expand-md container">
                <a href="" class="navbar-brand"><img style="height: 4rem;"src="../static/images/Breath It - text.png" alt=""></a>
                <button class="navbar-toggler" data-target="#menu" type="button" data-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Blogs</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Acconts</a></li>
                    </ul>
                </div>
            </nav>      
        </div>     
        
        <!-- Begin of Introduction Section -->
        <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-white content-justify">
                            <div class="logos text-center py-3"><img class="img-fluid" src="../static/images/Breat IT - Logo.png" alt=""></div>
                            <p class="pt-5">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem modi reiciendis tempore. Dolor, sit? Voluptatibus alias praesentium eum sunt, voluptatem maiores expedita dicta molestias illo aliquid perferendis beatae quisquam quod.
                            </p>
                            <button class="btn btn-outline-light">More</button>
                        </div>
                        <div class="col-md-6 text-center text-white py-5 services-list">
                            <h4 class="text-white py-5">Breath It Solutions and Service</h4>
                            <a href=""><div class="text shadow">Business analytics and consulatancy</div></a>
                            <a href=""><div class="text shadow">IT solutions and consulatncy</div></a>
                            <a href=""><div class="text shadow">Software Developments</div></a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <!-- End of Introduction Section -->

        <!-- Begining of Serives Sections -->
        <div class="services">
            <div class="container">
                <h1 class="text-muted">Services</h1>
                <div class="row my-5">
                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5>Business Analytics</h5>
                                <h5 class="card-title">
                                    <img src="../static/images/Breat IT - Logo.png" alt="">
                                </h5>
                                <p class="card-text">
                                    We develop software and IT solution to enhance business operations proficience and profitabilty.
                                </p>
                                <a href="" class="btn btn-primary">More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5>IT solutions</h5>
                                <h5 class="card-title">
                                    <img src="../static/images/Breat IT - Logo.png" alt="">
                                </h5>
                                <p class="card-text">
                                    We develop software and IT solution to enhance business operations proficience and profitabilty.
                                </p>
                                <a href="" class="btn btn-primary">More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5>Software development</h5>
                                <h5 class="card-title">
                                    <img src="../static/images/Breat IT - Logo.png" alt="">
                                </h5>
                                <p class="card-text">
                                    We develop software and IT solution to enhance business operations proficience and profitabilty.
                                </p>
                                <a href="" class="btn btn-primary">More</a>
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
        <!-- End of Services Sections -->


        <!-- Who we are Section -->
        <div class="jumbotron">
            <h1 class="text-muted">Who we are</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam rerum iure omnis officiis architecto consequatur officia dolore incidunt deserunt. At nostrum perspiciatis accusantium, earum magnam facilis rerum reiciendis blanditiis eveniet!</p>
        </div>
        <!-- Who we are section -->

        <!-- Beggining of About Section -->
        <div class="about-us">
            <div class="container">
                <div class="row my-5">
                    <!-- Component one -->
                    <div class="col-md-4 abouts text-center px-4">                        
                        <h3>ABOUT US</h3>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consequuntur quaerat, sed in doloremque nesciunt culpa ab placeat iste impedit incidunt expedita voluptates praesentium
                        </p>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consequuntur quaerat, sed in doloremque nesciunt culpa ab placeat iste impedit incidunt expedita voluptates praesentium
                        </p>
                    </div>

                    <!-- Component two -->
                    <div class="col-md-4 abouts">                        
                        <h3>Contact Us</h3>
                        <p class="">
                            <form class="form mx-3" action="">
                                <div class="form-group">
                                    <label for="email" class="form-control-label">Email</label>
                                    <input type="email" name="" id="email" class="form-control">
                                    <small class="text-muted">Email should be valid</small>
                                </div>
                                <div class="form-group">
                                    <textarea name="" class="form-control" placeholder="Enter your message" id=""  rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary">Send</button>
                                </div>
                            </form>
                        </p>
                    </div>

                    <!-- component three  -->
                    <div class="col-md-4 abouts text-center">                        
                        <h3>Quick Links</h3>
                        <img style="height: 5rem;" src="../static/images/Breath It - text.png" alt=""><br>
                        <a class="text-white" href="">Home</a><br>
                        <a class="text-white" href="">About us</a><br>
                        <a class="text-white" href="">Breath IT services</a><br>
                        <a class="text-white" href="">Help and FAQS</a><br>                        
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- Footer Section -->
        <div class="footer ">
            Breath It
        </div>
    </div>
    <script src="../static/js/JQuery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
</body>
</html>